{% extends 'main.html' %}
{% block title %} {{ title }} {% endblock %}
{% load static %}
{% block content %}

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
<!--        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
            <img class="bd-placeholder-img" width="100%" height="100%"  src="https://avatars.mds.yandex.net/i?id=b4c33f50c5f12038e120dbc0e1dc15a5-4491734-images-thumbs&n=13&exp=1">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Актуальные новости</h1>
            <p style="color: white">Самые последние и обсуждаемые</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'contactus' %}">Свяжитесь с нами</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
<!--        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
            <img class="bd-placeholder-img" width="100%" height="100%"  src="https://cdn.fishki.net/upload/post/2020/03/25/3267730/7da19c019f519b2eee94281336bb2f13.jpg">
        <div class="container">
          <div class="carousel-caption">
           <h1>Свежие новости</h1>
            <p style="color: white">Самые трендовые</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'mainpage' %}">Почитать новость</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
<!--        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>-->
        <img class="bd-placeholder-img" width="100%" height="100%"  src="https://pbs.twimg.com/media/EY7dBKvWAAAQvZy.jpg">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Жизненные новости</h1>
            <p style="color: white">Жизненные последние и обсуждаемые новости</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'contactus' %}">Свяжитесь с нами</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущее</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующее</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for contact in aboutus  %}

      {% if contact.whatsapp_link %}
      <div class="col-lg-4">
<!--        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://24hp.ru/wp-content/uploads/2020/05/Whatsapp-Clipart-PNG-Image.png">
        <h2>WhatsApp</h2>
        <p>Чтобы связаться по Whatsapp кликните по ссылке ниже</p>
        <p class="mt-3"><a class="btn btn-success" href="{{ contact.whatsapp_link }}">Отправить сообщение</a></p>
      </div><!-- /.col-lg-4 -->
        {% endif %}

      {% if contact.telegram_link %}
      <div class="col-lg-4">
<!--        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://avatars.mds.yandex.net/i?id=138caeb9a6842fd9c92ee4859d424c85-5286894-images-thumbs&n=13&exp=1">
        <h2>Telegram</h2>
        <p>Чтобы связаться по Telegram кликните по ссылке ниже</p>
        <p class="mt-3"><a class="btn btn-success" href="{{ contact.telegram_link }}">Отправить сообщение</a></p>
      </div><!-- /.col-lg-4 -->
        {% endif %}

      {% if contact.email_link %}
      <div class="col-lg-4">
<!--        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>-->
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://thumb.tildacdn.com/tild3463-6262-4535-b461-356539663734/-/format/webp/logo-gmail-png-for-g.png">
        <h2>Почта</h2>
        <p>Чтобы связаться по почте кликните по ссылке ниже</p>
        <p class="mt-3"><a class="btn btn-success" href="mailto:{{ contact.email_link }}">Отправить почту</a></p>
      </div><!-- /.col-lg-4 -->
        {% endif %}

      {% endfor %}

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Филиал новости в Бишкеке <span class="text-muted"> Головной отдел</span></h2>
        <p class="lead">ул. Чуй 123, пересекает ул. Манаса</p>
      </div>
      <div class="col-md-5">
<!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://fotorelax.ru/wp-content/uploads/2020/06/bishkek-s-vysoty-stolica-u-podnozhja-gor-9856615.jpg"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"> Второй новостной филиал в г. Оше <span class="text-muted"> Новости с Южного региона</span></h2>
        <p class="lead">Адрес: г. Ош, ул. Масалиева 123/3</p>
      </div>
      <div class="col-md-5 order-md-1">
<!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="http://gwc-planet.ru/thumb/2/dIB3WoePL6KbUFASDzCcnQ/r/d/osh_4.jpg"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Новостной отдел на Иссык Куле <span class="text-muted"> Новости туризма и отдыха с Иссык куля</span></h2>
        <p class="lead">г.Чолпон-Ата, ул. Темирязева 17</p>
      </div>
      <div class="col-md-5">
<!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://vandrouki.ru/wp-content/uploads/2021/07/152-1536x1059.jpeg"/>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
{% endblock %}




<!--  &lt;!&ndash; FOOTER &ndash;&gt;-->
<!--  <footer class="container">-->
<!--    <p class="float-end"><a href="#">Back to top</a></p>-->
<!--    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
<!--  </footer>-->
<!--</main>-->


<!--    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>-->

<!--      -->
<!--  </body>-->
<!--</html>-->
