{% extends 'main.html' %}
{% block sidebar %}
<div class="col-md-4">
             {% include 'sidebar.html' %}
    <div>
{% endblock %}

{% block content %}
        <div class="col-md-8">
            <div class="card mb-3">
                  <div class="card-header text-center">
                    Категория: {{ article.category.title_category }}
                      <br>Дата публикации: {{ article.created_at | date:"H:i d/m/Y" }}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ article.title }}</h5>
                      <div class="row">
                          <div class="col-md-4">
                              {% if article.photo %}
                                <img src="{{ article.photo.url }}" style="border: 2px solid black;" width="220" height="200">
                              {% else %}
                                <img src="https://i.warosu.org/data/lit/thumb/0177/96/1615909903898s.jpg" style="border: 2px solid black;">

                              {% endif %}
                          </div>
                          <div class="col-md-8">
                                 <p class="card-text">{{ article.content |linebreaks }}</p>
                          </div>
                      </div>

<!--                  <div class="card-footer text-muted">-->
<!--                    -->
<!--                  </div>-->
                </div>
              </div>
        </div>
{% endblock %}

